body {
  text-align: center;
  background: #282c34;
  margin: 0; /* Reset the default margin */
  padding: 0; /* Reset the default padding */
  overflow-x: hidden;
}

.App {
  /* Reset  the default padding */
}

.animate {
  animation-duration: 0.34s;
  animation-fill-mode: both;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--delay-1s {
  animation-delay: 0.4s;
}

.animate--fast {
  animation-duration: 0.3s;
}

.animate--slow {
  animation-duration: 0.37s;
}

.slideUptoBot {
  animation-name: slideUptoBot;
  animation-timing-function: ease-in;
}

@keyframes slideUptoBot {
  from {
    transform: translateY(-150px);
    opacity: 0;
    filter: blur(5px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.git-logo,
.linked-logo {
  height: 5vmin;
  margin: 0 2px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.git-logo:hover,
.linked-logo:hover {
  opacity: 0.5;
}

@keyframes logoFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.App-header {
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tab-bar {
  display: flex;
  list-style: none;
  padding: 0;
  background: transparent;
}

.tab-bar li {
  flex: 1;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: white
}

.moving-gif-container {
  bottom: 0;
  width: 100%;
  display: flex;
}

.moving-gif {
  max-width: 100%;
  position: absolute;
  animation: moveLeft 10s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes moveLeft {
  0% {
    right: -100%; /* Starting position off the left side */
  }
  100% {
    right: 100%; /* End position off the right side */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-----------------------------------------Home page Section End----------------------------------------*/
